.ipa {
	font-family: 'serif';
	font-size: 12pt;
	margin-left: 1em;
}

.inline {
	display: inline-block;
}

video {
	width: 50%;
}

img {
	width: 50%;
}

header {
	display: flex;
	align-items: center;
	justify-content: start;
	text-align: left;
	margin-top : 2rem;

	font-weight: bold;
}

header a {
	margin: 0.5rem;
	font-size: 13pt;
	font-family: "Roboto Mono";
}

blockquote {
	font-style: italic;
	border-left:8px solid #78C0A8;
	background: rgb(212, 212, 212, 220);
	padding: 1rem;
}

p {
	font-size: 14pt;
}

h1 {
	font-size: 36pt;
}

h2 {
	font-size: 24pt;
}

.center {
	text-align: center;
}

body {
	position: relative;
	font-family: 'Vollkorn';

	background-image: radial-gradient(#eaeaea, #e0e0e0);

	color: #202020;

	min-height: 100%;
	width: 70%;
	margin: auto;
}

main {
	padding-bottom: 4.5rem;
	margin-top: 1rem;
}

aside {
	padding-bottom: 4.5rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}
